* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    align-self: center;
    font-size: 1.3rem;
    height: 2.5rem;
}

.cell {
    display: flex;
    justify-content: center;
    width: 20%;
    border: 1px solid black;
    height: inherit;
}